<div class="legend">
  <div class="legend-item average">
    <span
      class="average-dot legend-dot"
      [style.background-color]="averagePriceColor"
      [style.opacity]="lineOpacity"
    ></span>
    <span class="legend-name">Average price</span>
  </div>
  <div class="legend-item minimum">
    <span
      class="minimum-dot legend-dot"
      [style.background-color]="minimumPriceColor"
      [style.opacity]="lineOpacity"
    ></span>
    <span class="legend-name">Minimum price</span>
  </div>
</div>
<div id="price-chart"></div>
