.app-toolbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 2.5rem 15rem;
  &__title {
    display: contents;
    font-size: 40px;
  }
  &__buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.toolbar-button {
  margin: 0 2rem 0 0;
}