.auth-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 10rem;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__submit {
    margin-top: 0.5rem;
  }
  &__header {
    font-size: larger;
    margin-bottom: 1rem;
  }
}
