.game-list {
  padding: 0 4rem;
  width: auto;

  &__item {
    height: auto !important;
    border: 0.1rem lightgrey solid;
    border-radius: 0.5rem;
    margin: 0 0 1rem;

    &-header {
      width: auto;
      padding-bottom: 1rem;
      justify-content: space-between;

      &__name {
        flex-grow: 1;
        font-size: x-large;
      }
    }

    &-divider {
      padding: 1rem;
    }

    &:hover {
      // TODO fix coloring
      box-shadow: 0.5rem 0.5rem 1rem;
    }

    &-content {
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-end;

      &__image {
        min-width: 5rem;
        height: auto;
        width: 15rem;
      }
    }
  }
}


.button-favorite {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: red;

  &__icon {
    color: white;
  }
}

.sort {
  transform: rotateX(180deg);
}

.list-header {
  padding: 2rem 4rem;
  width: calc(100% - 8rem);
  display: inline-flex;
  justify-content: space-between;

  &__title {
    height: auto;
  }

  &__sort {
    display: inline-flex;
    align-items: center;
  }
}

.load-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
