<div class="grid-list">
<!--  TODO add ngIf observable async as variable
https://stackoverflow.com/questions/39858526/display-loading-while-using-observable-with-async-pipe-in-template
-->
  <mat-grid-list [cols]="4" rowHeight="5rem">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      {{gameData.name}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3" *ngIf="gameData.imageUrl !== null">
      <img src="{{gameData.imageUrl}}">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3" *ngIf="gameData.releaseDate !== null">
      <div>Release date:</div>
      <div>{{gameData.releaseDate}}</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="5" *ngIf="gameData.description !== null">
      <p>
        {{gameData.description}}
      </p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" *ngIf="gameData.description === null">
      <p>
        Game description not available.
      </p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="3">
      <div>Sellers:</div>
      <ul>
        <li *ngFor="let sellers of gameData.sellerLinks">
          <div>{{sellers.seller}}:</div>
          <div>
            <div>
              Price:
            </div>
            <div>
              {{sellers.price}}
            </div>
          </div>
          <div>
            <span>
              Go to seller
            </span>
            <span>
              {{sellers.link}} <!-- TODO change this  -->
            </span>
          </div>
        </li>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>
