.grid-list {
  margin: 1rem 10rem 0 10rem;
  width: auto;
}

.game-header {
  font-size: xx-large;
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-divider {
  margin: 1rem 1rem 1.5rem;
}

.divider {
  margin: 0.5rem 0;
}

.game-description {
  margin: 1rem 0 0;
}

.game-sellers__item {
  height: auto !important;
  margin: 1rem 0;
}

.link:hover {
  cursor: pointer;
  text-shadow: lightblue 0.1rem 0.1rem;
}