<div class="grid-list" *ngIf="(game$ | async) as gameDetail">
  <mat-card>
    <mat-card-header class="game-header">
      {{gameDetail.name}}
    </mat-card-header>
    <mat-divider class="header-divider"></mat-divider>
    <mat-card-content class="game-content">
      <div class="game-info">
        <div class="game-release">
          Release date: {{gameDetail.releaseDate ? gameDetail.releaseDate : 'unknown'}}
        </div>
        <div class="game-description">
          <span>Game Description:</span>
          <p>{{gameDetail.description ? gameDetail.description : 'Not available'}}</p>
        </div>
        <mat-list class="game-sellers">
          <div>Sellers:</div>
          <mat-list-item
            class="game-sellers__item"
            *ngFor="let seller of gameDetail.sellerLinks"
          >
            <div><mat-divider class="divider"></mat-divider></div>
            <div class="seller-name">
              {{seller.seller | sellerEnum}}
            </div>
            <div class="seller-price">
              Selling for: {{seller.price.toFixed(2)}}€
            </div>
            <div class="seller-link">
              Link to seller: 
              <span 
                (click)="onLinkClick(seller.link)"
                [class.link]="seller.link"
              >
                {{seller.link ? seller.link : 'unavailable'}}
              </span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="game-image">
        <img src="{{gameDetail.imageUrl}}" *ngIf="gameDetail.imageUrl; else nullImage">
        <ng-template #nullImage>
          <div>
            Image for "{{gameDetail.name}}" not found
          </div>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>