<!-- TODO add filtering -->
<div *ngIf="games$ | async; else loading">
  <div class="list-header">
    <h1 class="list-header__title">Available Games:</h1>
    <div class="list-header__sort">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [(value)]="selectedSort" (selectionChange)="onSortChange()">
          <mat-option *ngFor="let option of sortOptions | keyvalue" [value]="option.key">
            {{option.value.toLowerCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button aria-label="sort" (click)="onChangeOrder()" [class.sort]="order == 'ASC'">
        <mat-icon>sort</mat-icon>
      </button>
    </div>
    <!--   <mat-form-field class="example-form-field" [(ngModel)]="search">-->
    <!--    <mat-label>Search for game</mat-label>-->
    <!--    <input matInput type="search">-->
    <!--    <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">-->
    <!--      <mat-icon>close</mat-icon>-->
    <!--    </button>-->
    <!--  </mat-form-field>-->
  </div>
  <mat-list class="game-list">
    <mat-list-item
      mat-ripple
      [matRippleAnimation]="{enterDuration: 1500, exitDuration: 2000}"
      class="game-list__item"
      *ngFor="let game of games$ | async"
    >
      <mat-card (click)="onGameClick(game)">
        <mat-card-header class="game-list__item-header">
          <div class="game-list__item-header__name">{{game.name}}</div>
          <div>Release date {{game.releaseDate ? game.releaseDate : 'unknown'}}</div>
        </mat-card-header>
        <mat-divider class="game-list__item-divider"></mat-divider>
        <mat-card-content class="game-list__item-content">
          <!-- use mat-card-image? -->
          <img class="game-list__item-content__image"
               src="{{game.imageUrl}}"
               alt="Picture of {{game.name}}">
          <button
            mat-fab
            class="button-favorite"
            aria-label="Fab with a heart icon"
            (click)="onFavouriteClick(game);$event.stopPropagation()"
          >
            <mat-icon class="button-favorite__icon">favorite</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
    <mat-paginator
      (page)="onPageClick($event)"
      [length]="length"
      [pageSize]="pageSize"
      [hidePageSize]="true"
    >
    </mat-paginator>
  </mat-list>
</div>
<ng-template #loading>
  <div class="load-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
