<!-- TODO add filtering -->
<!-- change mat-list to mat table? -->
<!-- if changed to table filtering and pagination would be easily implemented -->
<mat-list class="game-list">
  <h3 class="game-list__title">Games</h3>
  <mat-list-item class="game-list__item" *ngFor="let game of games$ | async">
    <mat-card>
      <mat-card-header class="item-name">{{game.name}}</mat-card-header>
      <mat-card-content>
        <img mat-card-image src={{game.imageUrl}} alt="Logo of {{game.name}}" *ngIf="game.imageUrl">
        <ng-container *ngIf="game.releaseDate">
          <span>Release date:</span>
          <span>{{game.releaseDate}}</span>
        </ng-container>
        <button mat-fab class="button-favorite" matTooltip="Primary" aria-label="Example fab with a heart icon">
          <mat-icon class="button-favorite__icon">favorite</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
